<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
 <i class="fa-solid fa-clapperboard"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My Lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="height: 500px;
                           background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                           url('<%= asset_path('denise-jans-mxhWy1td-BE-unsplash.jpg') %>');
                           background-repeat: no-repeat;
                           background-position: center;
                           background-size: 100%;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="content">
  <div class="middle-header">
    <h1>My Lists</h1>
  </div>

  <div class="cards">
    <% id = 1 %>
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/490/300?random=<%= id %>)">
        <div class="card-text">
          <p><%= link_to "ðŸ—‘ï¸", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Delete list?" } %></p>
          <h2><%= link_to list.name, list %></h2>
          <% id += 1 %>
        </div>
      </div>
    <% end %>
  </div>

</div>
